.productListContainer {
    display: flex;
    gap: 3rem;
}

.productList {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Adjust for smaller screens */
}

.sortOptions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sortfileterContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* Adjust for smaller screens */
}

.filters {
    width: 20%;
}

.filtersInMobileView {
    display: none;
}

.filterButton {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.productCount {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Tablet view adjustments */
@media screen and (max-width: 1024px) {
    .productListContainer {
        gap: 1rem;
    }

    .filters {
        width: 25%;
        /* Adjust filter width for tablets */
    }

    .productList {
        width: 75%;
        /* Adjust product list width for tablets */
    }

    .productListHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .sortfileterContainer {
        justify-content: space-between;
        width: 100%;

    }
}

/* Mobile view adjustments */
@media screen and (max-width: 768px) {
    .productListContainer {
        flex-direction: column;
        width: 100%;
    }

    .filters {
        display: none;
    }

    .filtersInMobileView {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .productList {
        width: 100%;
    }

    .productListHeader {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    .sortfileterContainer {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .productCount {
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-top: 1rem;
    }

    .sortOptions {
        gap: 6px
    }
}