.cart-item {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.cart-item-remove {
    margin-left: auto;
    position: relative;
}

.cart-item-image {
    width: 80px;
    height: 80px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cart-item-name {
    font-size: 1rem;
    margin: 0 0 10px 0;
}

.cart-item-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: smaller;
    margin: 0 0 10px 0;
}

.cart-item-price-off {
    text-decoration: line-through;
}

.cart-item-price-discount {
    color: #14961d;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-btn,
.remove-button {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quantity-btn {
    padding: 10px;
    display: flex;
    align-items: center;
}

.remove-button {
    padding: 4px;
}

.remove-button:hover {
    color: #ff1a1a;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.quantity-count {
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .cart-item-image {
        width: 100px;
        height: 100px;
    }
}
