.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem; /* Relative units for padding */
    box-shadow: var(--box-shadow); /* Relative units for shadow */
    position: sticky;
    top: 0; /* Make it stick to the top */
    z-index: 1000; /* Ensure it stays above other elements */
    background-color: var(--bg-color);
    color: var(--text-color);
}

.logoLink {
    text-decoration: none;
    color: var(--text-color);
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem; /* Relative unit for gap */
    text-decoration: none;
}

.companyName{
    margin: 0px;
    font-size: larger;
    color: var(--text-color);
}

.nav {
    display: block;
}

.searchContainer {
    display: block;
}

.navList {
    display: flex;
    gap: 3rem; /* Relative unit for gap */
    list-style: none;
    text-decoration: none;
    color: rgb(36, 34, 34);
    font-weight: 500;
    padding: 0.5rem 1rem; /* Relative units for padding */
    align-items: center;
}

.navLink {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: medium; /* Relative unit for font size */
    font-weight: 500;
}

.navLink:hover {
    color: var(--primary-color);
    font-weight: 600;
    transform: rotate(-20deg);
}

.active {
    color: #000000;
    font-weight: 600;
}

.hamburgerMenu {
    display: none;
    cursor: pointer;
    color: var(--text-color);
}

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    color: #ffffff; /* White color for close button */
    cursor: pointer;
    font-size:xx-large ;
}

.popupNavList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 2rem; /* Relative unit for gap */
    margin-top: 6rem;
    align-items: center;
}

.popupNavLink {
    text-decoration: none;
    color: var(--text-color); /* White color for popup links */
    /* font-size: x-large;  */
    /* font-weight: 500; */
}

.popupNavLink:hover {
    color: var(--text-color); /* Darker color on hover */
    font-weight: 600;
    transform: rotate(-20deg);
}

.popupNavLink.active {
    color: var(--text-color); /* Active link color */
    font-weight: 600;
}

.popupNavLink.active:hover {
    color: var(--text-color); /* Active link hover color */
    font-weight: 600;
    transform: rotate(-20deg);
}

.mobileNavList{
    display: none;
}

@media (max-width: 768px) { /* Keeping media query breakpoint consistent */
    .header {
        padding: 1rem; /* Adjusted padding for smaller screens */
        justify-content: space-between;
    }

    .navList {
        display: none;
    } 

    .hamburgerMenu {
        display: contents;
        color: var(--text-color);
    }

    .mobileNavList {
        display: flex;
        gap: 2rem; /* Relative unit for gap */
        list-style: none;
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        padding: 0.5rem 1rem; /* Relative units for padding */
        align-items: center;
        margin: 0;
    }

}

@media (max-width: 1000px) {
    .searchContainer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 1rem; /* Adjusted padding for smaller screens */
        justify-content: space-between;
    }

    .navList {
        display: none;
    } 

    .hamburgerMenu {
        display: contents;
        color: var(--text-color);
    }

    .mobileNavList {
        display: flex;
        gap: 2rem; /* Relative unit for gap */
        list-style: none;
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        padding: 0.5rem 1rem; /* Relative units for padding */
        align-items: center;
        margin: 0;
    }
    
}