.cart-summary {
    display: flex;
    flex-direction: column;
}

.cart-summary-header{
    margin: 0 0 12px 0;
}

.summary-details {
    margin-bottom: 15px;
}

.checkout-button {
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.promo, .gift{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-direction: column;
}

.cart-summary-label{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.cart-summary-input{
    width: 95%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.order-summary{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
    margin-top: 10px;
    margin-bottom: 50px;
}

.cart-summary-header{
    margin-top: 0
}

.order-summary-item{
    display: flex;
    justify-content: space-between;
    margin:8px 0;
}

/* Larger screens (tablet and above) */
@media (min-width: 768px) {
    
    .cart-summary {
        padding: 0 30px;
        width: 30%;
        border-left: 1px solid var(--border-color);
    }

    .summary-details {
        margin-bottom: 20px;
    }
}
