:root {
  --bg-color: white;
  --text-color: #1e1e1e;
  --primary-color: #1e90ff;
  --hover-color: #f0f0f0;
  --active-color: #e0e0e0;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --separator-color: #dddddd;
  --disabled-color: #cccccc;
  --border-color: #cccccc;
  --highlight-bg-color: #f9f9f9;
  scrollbar-width: none;

  /* Fallback for browsers that do not support scrollbar-width */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
}

[data-theme="dark"] {
  --bg-color: #0b1a33;
  --text-color: #ffffff;
  --primary-color: #1e90ff;
  --hover-color: #222222;
  --active-color: #333333;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.64);
  --separator-color: #444444;
  --disabled-color: #555555;
  --border-color: #666666;
  --highlight-bg-color: #232841;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

button {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

select:focus {
  border-bottom: 2px solid var(--primary-color);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

select:focus {
  border-bottom: 2px solid var(--primary-color);
}

option {
  padding: 24px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

select:hover,
select:focus {
  background-color: var(--hover-color);
}

.btn-primary {
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid var(--text-color);
  width: 100%;
  max-width: 20rem;
  /* Limit max width */
  height: 3rem;
  /* Set height */
}

.btn-primary:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

.btn-primary:active {
  background-color: var(--active-color);
}

.btn-primary:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.btn-primary:disabled:hover {
  background-color: var(--disabled-color);
  color: var(--text-color);
}

.btn-tertiary {
  background-color: transparent;
  color: var(--text-color);
}

.font-bold {
  font-weight: bold;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-light {
  font-weight: 300;
}

.font-thin {
  font-weight: 100;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  margin-right: 21px;
}

.col-1 {
  flex: 0 0 8.33%;
  max-width: 8.33%;
}

.col-2 {
  flex: 0 0 16.66%;
  max-width: 16.66%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.col-5 {
  flex: 0 0 41.66%;
  max-width: 41.66%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33%;
  max-width: 58.33%;
}

.col-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33%;
  max-width: 83.33%;
}

.col-11 {
  flex: 0 0 91.66%;
  max-width: 91.66%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.mr6rem {
  margin-right: 6rem;
}

.mb1rem{
  margin-bottom: 1rem;
}

.mb10{
  margin-bottom: 10px;
}

.flex{
  display: flex;
}

.gap2{
  gap: 1rem;
}