:root {
  --bg-color: white;
  --text-color: #111111;
  --primary-color: #1e90ff;
  --hover-color: #f0f0f0;
  --active-color: #e0e0e0;
}

[data-theme="dark"] {
  --bg-color: #111111d2;
  --text-color: #ffffff;
  --primary-color: #1e90ff;
  --hover-color: #222222;
  --active-color: #333333;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--hover-color);
  color: var(--bg-color);
}
